.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh ;
  color: white;
  background-color: rgb(72,79,83)

}
.nav-link{
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
} */
/* .link{
list-style-type: none;
} */